.body {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}
.container {
  text-align: center;
}
.logo {
  width: 272px;
  margin-bottom: 20px;
}

.search-form {
  margin-top: 20px;
}
.search-bar {
  width: 500px;
  height: 40px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 20px;
  outline: none;
}

.buttons {
  margin-top: 20px;
}

.btn {
  font-size: 14px;
  border: none;
  padding: 8px;
}
